@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --container-7xl: 1220px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

.font-manroper {
  font-family: var(--font-manrope);
}

.bg-brand {
  background-color: #162a4a;
}

.bg-base {
  background-color: #162a4a;
}

.bg-full {
  background-size: 100% 100%;
}

.notfound-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("/images/404-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}